.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dcdbdb;
  border-radius: 8px;
}

body::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #dcdbdb;
  border-radius: 8px;
}
